[submodule "packages/wp/themes/examplepress-theme"]
	path = packages/wp/themes/examplepress-theme
	url = https://github.com/webmultipliers/examplepress-theme.git
[submodule "packages/wp/plugins/examplepress-theme-app"]
	path = packages/wp/plugins/examplepress-theme-app
	url = https://github.com/webmultipliers/examplepress-theme-app.git
[submodule "packages/wp/plugins/examplepress-theme-demo"]
	path = packages/wp/plugins/examplepress-theme-demo
	url = https://github.com/webmultipliers/examplepress-theme-demo.git
[submodule "packages/wp/plugins/examplepress-troy-bridge"]
	path = packages/wp/plugins/examplepress-troy-bridge
	url = https://github.com/webmultipliers/examplepress-troy-bridge.git
[submodule "packages/wp/mu-plugins/examplepress-mu"]
	path = packages/wp/mu-plugins/examplepress-mu
	url = https://github.com/webmultipliers/examplepress-mu.git
[submodule "packages/vendor/blockstudio"]
	path = packages/vendor/blockstudio
	url = https://github.com/inline0/blockstudio.git
[submodule "packages/vendor/troy"]
	path = packages/vendor/troy
	url = https://github.com/sybrew/troy.git
